### IntelliJ IDEA ###
.idea/
*.iml

### VSCode ###
.vscode/

### Java build ###
*.class
*.jar
*.war
*.ear
target/
bin/
build/
out/

### OS files ###
.DS_Store
Thumbs.db

### Logs & system ###
*.log
*.sw?
*~
.#*
.attach_pid*
dump.rdb

### Maven / Gradle ###
.gradle
build.log
dependency-reduced-pom.xml
interpolated*.xml
flattened-pom.xml

### Spring Tool Suite ###
.sts4-cache

### Other ###
node_modules/
.git-hooks/
secrets.yml
overridedb.*